article > nav		{ width: 100%;
			  box-shadow: 1px 1px 1px 1px #474747, inset 0 -1px 1px #474747; 
			  margin: 0;
			  margin-bottom: 1ex;
			  padding-top: 2px;
			  padding-bottom: 0.5ex;
			  width: 94%;
			  background-color: #ccc; 
			  border-bottom-left-radius: 1ex;
			  border-bottom-right-radius: 1ex; }
article > nav time	{ color: #666; }
article > nav li	{ padding: 0.5ex; }
article > nav ul	{ list-style-type: none; 
			  padding-left: 2%; 
			  padding-right: 2%; }
article > nav aside	{ padding-left: 4%; }
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
article > nav		{ margin-left: auto;
			  margin-right: auto; 
			  width: 98%;
			  border-top-left-radius: 1ex; 
			  border-top-right-radius: 1ex; }
article > nav ul	{ padding-left: 1%; 
			  padding-right: 1%; }
article > nav aside	{ padding-left: 0; 
			  padding-right: 0; }
}
