article > #recipe,
article > a img			{ box-shadow: 1px 1px 1px 1px #474747, inset 0 -1px 1px #474747; 
				  width: 90%; 
				  max-width: 1280px;
				  border-bottom-left-radius: 1ex;
				  border-bottom-right-radius: 1ex; }

#image1, 
#image2, 
#image3, 
#image1:target ~ #recipe,
#image2:target ~ #recipe,
#image3:target ~ #recipe	{ display: none; }
#recipe,
#image1:target,
#image2:target,
#image3:target			{ display: block; }
article > #recipe input		{ width: 6ex; }
article > #recipe p.servings	{ margin-top: 0; }
article > #recipe table,
article > #recipe p		{ width: 98%;
				  margin-left: auto; 
				  margin-right: auto; }
article > #recipe		{ padding-top: 80px;
				  padding-bottom: 2%;
				  margin-bottom: 1ex;
				  background-color: #ccc; }
article > header		{ position: absolute;
				  box-shadow: 2px 2px 6px rgba(0,0,0,0.3), inset 0 -2px 2px rgba(0,0,0,0.1);
				  background-color: #EBCCA4;
				  border-radius: 4px;
				  padding: 6px 10px;
				  padding-top: 8px;
				  text-align: center;
				  display: table-row;
				  left: 10px;
				  font-size: 12pt;
				  top: 10px; }
article > header > * 		{ display: table-cell; 
				  vertical-align: middle; }
article > header nav img	{ width: 60px; }
article > header nav 		{ padding-left: 10px; }
article > header aside,
article > header time,
article > header address	{ display: none; }
article > header h2		{ font-size: 20pt; 
				  font-weight: inherit;
				  color: #333;
				  margin: 0; }
article > header h2 a		{ color: #555; }
article > header h2 a:hover	{ color: #333; }
article > header span		{ color: #222; }
article > header span 		{ border-left: thin solid silver;
				  padding-left: 0.5ex;
				  margin-left: 0.25ex; }
article > header .hicon		{ font-style: italic;
				  font-weight: bolder;
				  color: purple;
				  display: inline-block; }
article > header .health img	{ width: 32px; 
				  margin-bottom: -10px; }
article > nav			{ display: none; }
article > nav a + a		{ margin-left: 16px; }
article > nav img		{ box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
				  margin: 0;
				  opacity: 0.9;
				  border: solid #ccc 1px;
				  border-radius: 10px; }
article > nav img:hover		{ opacity: 1.0; }
article .ingredients		{ color: #333;
				  border-spacing: 0;
				  border-bottom-left-radius: 0.5ex; 
				  border-bottom-right-radius: 0.5ex; 
				  background-color: #999; }
article .ingredients th,	
article .ingredients td		{ padding-left: 1ex; 
				  vertical-align: top; }
article .ingredients td:last-child
				{ padding-right: 1ex; }
article .ingredients caption	{ text-align: left;
				  color: #333;
				  padding: 0.5ex;
				  padding-left: 1ex;
				  border-bottom: 0;
				  border-top-left-radius: 0.5ex; 
				  border-top-right-radius: 0.5ex; 
				  background-color: #999; }
article .ingredients td.unit	{ color: #444; }
article .ingredients th		{ text-align: left; 
				  font-size: 10pt; }
article .ingredients th.amount
				{ text-align: center; }
article .ingredients td.amount
				{ text-align: right; }
article .ingredients td.name span.altor
				{ font-style: italic; }
article .ingredients td.alt	
				{ color: #333;
				  background-color: #aaa;
				  font-style: italic; }
article .ingredients a		{ color: purple; }
article .ingredients a.amazon	{ background:url('amazon.png') no-repeat scroll left top transparent;
				  padding-left: 22px; }
article #steps			{ color: #333;
				  background-color: #999;
				  border-bottom-left-radius: 1ex; 
				  border-bottom-right-radius: 1ex; 
				  border-spacing: 0; }
article #steps caption		{ text-align: left;
				  color: #333;
				  padding: 0.5ex;
				  padding-left: 1ex;
				  border-bottom: 0;
				  border-top-left-radius: 1ex; 
				  border-top-right-radius: 1ex; 
				  background-color: #999; }
article #steps th,
article #steps td		{ vertical-align: top; 
				  padding-left: 1ex; }
article #steps td:last-child	{ padding-right: 1ex; }
article #steps th		{ text-align: left; 
				  font-size: 10pt; }
article #steps th.amount	{ text-align: center; }
article #steps td.amount	{ text-align: right; }
article #steps td.unit 		{ color: #444; }
article #steps tr:last-child td	{ border-top: thin solid silver;
				  color: #000; }
@media only screen and (max-width: 600px), only screen and (max-device-width: 600px) {
	article > header	{ position: static; 
				  display: block; 
				  border: 0;
				  text-align: center;
				  box-shadow: 0 0 0;
				  background-color: inherit;
				  font-size: inherit; }
	article > header nav	{ display: none; }
	article > header > div	{ display: block; }
	article > header h2 a	{ color: #A4D4EB; }
	article > header h2 a:hover	
				{ color: #fff; }
	article > header h2	{ font-size: 14pt; 
				  letter-spacing: 2pt;
				  font-weight: inherit; }
	article > header img	{ opacity: 1.0; }
	article > nav		{ position: static; 
				  display: table;
				  width: 100%;
				  text-align: center; }
	article > nav a		{ display: table-cell;
				  padding: 4px;
				  width: 32%; }
	article > nav a img	{ width: 100%; 
				  max-width: 140px; }
	article > #recipe,
	article > a 		{ text-align: center; }
	article > #recipe > *	{ text-align: left; }
	article > #recipe,
	article > a img		{ width: 98%; 
				  max-width: 1280px; 
				  margin-left: auto;
				  margin-right: auto;
			  	  border-top-left-radius: 1ex; 
				  border-top-right-radius: 1ex; }
	article #recipe 	{ padding-top: 2px; }
	article #recipe table,
	article #recipe p	{ width: 99%; }
	article #steps th,
	article #steps td	{ padding-left: 0.25ex; }
	article #steps td:last-child
				{ padding-right: 0.25ex; }
}
