body > article				{ float: none;  }
.clock					{ font-size: 10pt; }
#blogroll				{ min-width: 500px; 
					  padding: 0 4%; }
#blogroll img.clock			{ width: 20px; 
					  margin-bottom: -4px; }
#blogroll ul				{ padding: 0; 
					  margin: 0; }
#blogroll ul				{ list-style-type: none; }
#blogroll li				{ display: table; 
					  margin-bottom: 1em; }
#blogroll li > *			{ display: table-cell;
					  vertical-align: top; }
#blogroll li > a img			{ width: 400px; 
					  border: thin solid #aaa;
					  border-radius: 16px; }
#blogroll li > div > div		{ background-color: #fff;
				 	  border-radius: 6px;
					  margin-left: 1em;
					  color: #999;
				  	  box-shadow: 3px 4px 4px #666; }
#blogroll li > div > div time		{ color: #666; }
#blogroll li > div > div .thumbs	{ padding-top: 1em; }
#blogroll li > div > div > div		{ padding: 1em; }
#blogroll li > div > div img.thumb	{ border-radius: 5px; 
					  border: thin solid #ccc;
				 	  width: 80px; }
#blogroll aside				{ font-size: 14pt; 
				 	  box-shadow: 0 1px 1px #ccc;
					  margin-bottom: 1ex;
				 	  border-top-left-radius: 6px;
				 	  border-top-right-radius: 6px;
					  background-color: #474747;
					  padding: 1.5ex;
					  color: #ddd; }
@media print, only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
	body > article 			{ display: block; }
	#blogroll			{ display: block; 
					  padding-left: 0;
					  min-width: 0;
					  padding-right: 0;
					  margin-left: auto;
					  margin-right: auto;
					  width: 96%; }
	#blogroll li 			{ display: block; }
	#blogroll li > * 		{ display: block; }
	#blogroll li > a img 		{ width: 100%; }
	#blogroll aside			{ font-size: 12pt; }
	#blogroll li > div > div	{ margin-left: 0; }
	#blogroll li > div > div .thumbs	
					{ padding-top: 1ex; }
	#blogroll li > div > div > div	{ padding: 1ex; }
	#archivelink > *		{ font-size: 14pt; }
	#archivelink img		{ width: 60px; }
}
@media print {
	body				{ font-size: 12pt; }
	#archivelink			{ display: none; }
}
