html					{ height: 100%; }
a					{ text-decoration: none; 
					  color: #006699; }
.nm					{ font-style: italic; }
body					{ margin: 0; 
					  padding: 0;
					  background-color: #ccd;
					  width: 100%;
					  font-family: "Times New Roman", serif; }
body > header				{ text-align: center;
					  background-color: #bcc;
					  width: 100%;
					  padding-top: 10px;
					  margin: 0 auto -10px auto; }
body > header .banner			{ display: none; }
body > header img			{ max-width: 850px; 
					  width: 100%; }
body > section				{ display: table; 
				 	  margin-left: auto;
				 	  margin-right: auto;
					  max-width: 1440px;
					  width: 90%; }
body > section > *			{ display: table-cell;
					  vertical-align: top; }
body > section > nav			{ width: 140px; }
body > section > article		{ color: #333;
					  font-size: 14pt; }
body > section > nav a			{ color: #000; }
body > section > nav div		{ display: table; 
					  margin-bottom: 1ex;
					  width: 100%;
					  text-align: center; }
body > section > nav div i.fa		{ font-size: 24pt;  }
body > section > nav div i.fa-home	{ font-size: 21pt;  }
body > section > nav div > *		{ display: table-cell; }
body > section > nav figure		{ width: 140px;
					  max-width: 140px;
					  text-align: center;
					  margin: 0; }
body > section > nav img		{ width: 100%;
					  max-width: 140px;
					  box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
					  border: thin solid #ccc;
					  border-radius: 10px; }
body > footer				{ margin-top: 3em;
					  padding: 1em 0;
					  box-shadow: -1px 0px 3px #888;
					  background-color: #eee;
					  text-align: center;
					  color: #444; }
body > footer div			{ border-left: thin solid #444;
					  display: inline-block;
					  margin-left: 1ex;
					  padding-left: 1ex; }
body > footer .fa			{ padding: 0 0.5ex; }
body > footer a				{ color: #000; }
body > footer img			{ height: 16pt; 
				 	  margin-bottom: -4pt; }
#subhead				{ text-align: center; 
					  border-top: thin solid #999; 
					  box-shadow: 0 1px 3px #999; 
					  margin: 0 0 1em 0;
					  padding: 0;
					  background-color: #eee; }
#subhead i				{ color: #000; 
					  font-size: 18pt;
					  padding: 1ex 1ex; }
#subsubhead i				{ padding: 0;
					  margin-right: 1ex;
					  font-size: 8pt; }
#subhead a:hover i			{ color: #333; }
#subhead .fa-navicon			{ position: relative; }
#subhead .fa-facebook-square		{ border-left: thin solid #bbb; 
					  margin-left: 1ex; }
#subhead .fa-at				{ padding-right: 0; }
#subsubhead				{ display: none; 
				 	  position: absolute;
					  z-index: 3;
					  background-color: #eee;
					  width: auto;
					  border: thin solid silver;
					  white-space: nowrap;
					  text-align: left;
					  top: 55px; }
#subsubhead img				{ width: 32px; 
					  margin: 0 4px; 
					  border-radius: 4px; }
#subsubhead h3,
#subsubhead h4				{ margin: 0; 
			 		  font-weight: normal;
					  font-size: 12pt;
					  padding: 1ex 4ex 1ex 1ex;
					  cursor: pointer; }
#subsubhead h3:hover,
#subsubhead h4:hover			{ background-color: #888; }
#subsubhead h3.dropped			{ background-color: #aaa; }
#subsubhead h4.dropped			{ background-color: #bbb; }
#subsubhead ul				{ margin: 0;
					  padding: 0.5ex 3ex;
					  list-style-type: none; }
#subsubhead ul li			{ display: table-row; }
#subsubhead ul li > *			{ display: table-cell; 
					  vertical-align: middle; }
#subsubhead section section		{ display: none; }
#subhead > div				{ display: inline-block; 
					  position: relative; }
@media print, only screen and (max-width: 1024px), only screen and (max-device-width: 1024px) {
} 
@media print, only screen and (max-width: 768px), only screen and (max-device-width: 768px) {
	body > section		{ display: block; }
	body > section > article,
	body > section > nav	{ display: table;
				  width: 100%; 
				  padding: 0;
				  margin: 0;
				  font-size: inherit;
				  margin-left: auto;
				  margin-right: auto; }
	body > section > nav div
				{ display: none; }
	body > section > nav figure
				{ display: table-cell;
				  padding: 1ex;
				  margin-left: auto;
				  margin-right: auto;
				  width: 33%; }
	body > footer		{ text-align: center;
				  width: 100%;
				  padding: 1ex 0;
				  text-align: center; }
	body > footer div	{ border-left: none;
				  display: block; 
				  margin-left: 0;
				  padding-left: 0; }
}
@media print, only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	body > header .banner	{ display: inline; }
	body > header .bannerbg	{ display: none; }
	#subsubhead		{ top: 50px; }
	body > section		{ width: 98%; }
	#subhead a i		{ font-size: 16pt; 
				  padding: 1ex 0.5ex; }
	#subhead img		{ height: 20pt; 
				  margin-bottom: -5pt; }
}
@media print {
	body > header img	{ max-width: 400px; }
	#subhead		{ display: none; }
	body > section		{ width: 100%; }
	body > section > nav	{ display: none; }
	body > footer		{ margin: 0;
				  padding: 0;
				  text-shadow: none;
				  color: inherit;
				  font-size: 10pt;
				  width: 100%;
				  text-align: center; }
	body > footer div	{ display: inline-block;  }
}
