html				{ height: 100%; }
body				{ margin: 0; 
				  padding: 0;
				  background-color: #666;
				  width: 100%;
				  font-family: "Times New Roman", serif; }
body > header			{ box-shadow: 1px 1px 3px 3px #474747;
				  background: #474747 url(bg.png);
				  padding-top: 3ex;
				  padding-bottom: 1ex;
				  padding-left: 2.5%;
				  padding-right: 2.5%;
				  z-index: 99;
				  position: relative; }
body > header nav		{ display: inline-block; }
body > header img		{ filter: grayscale(100%);
				  filter: url("data:image/svg+xml; utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'> <filter id=\'grayscale\'> <feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/> </filter> </svg>#grayscale"); /* Firefox 10+, Firefox on Android */
				  filter: grayscale(100%);
				  -moz-filter: grayscale(100%);
				  -ms-filter: grayscale(100%);
				  -o-filter: grayscale(100%);
				  filter: gray; /* IE6-9 */
				  -webkit-filter: grayscale(100%);
				  margin-bottom: -8px; }
body > header img:hover		{ filter: url("data:image/svg+xml;utf8, <svg xmlns=\'http://www.w3.org/2000/svg\'> <filter id=\'grayscale\'> <feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/> </filter> </svg>#grayscale");
				  filter: grayscale(0%);
				  -moz-filter: grayscale(0%);
				  -ms-filter: grayscale(0%);
				  -o-filter: grayscale(0%);
				  filter: none ; /* IE6-9 */
				  zoom:1;
				  -webkit-filter: grayscale(0%); }
body > header a			{ text-decoration: none; }
body > header h1		{ margin: 0;
				  color: #ccc; 
				  text-shadow: 0px 3px 8px #2a2a2a;
				  font-size: 32pt; 
				  letter-spacing: 0.75ex; }
body > header h2		{ display: inline-block;
			  	  font-size: 20pt;
				  font-weight: normal;
				  padding-right: 1ex;
				  margin: 0;
				  color: #ddd;
				  text-shadow: 0px 3px 8px #2a2a2a; 
				  letter-spacing: 0.3ex; }
body > nav			{ float: left;
				  margin-top: 10px;
				  width: 12.5%; }
body > article			{ float: right;
				  color: #333;
				  font-size: 14pt;
				  position: relative;
				  width: 87.5%; }
body > nav ul			{ list-style-type: none;  
				  margin: 0; 
				  padding: 0; }
body > nav li			{ padding-left: 4px; padding-right: 4px; }
body > nav figure a		{ text-decoration: none; }
body > nav figure		{ position: relative; 
				  opacity: 0.7;
				  text-align: center;
				  margin: auto;
				  max-width: 100px;
				  padding: 0; 
				  width: 100%; }
body > nav figure:hover		{ opacity: 1.0; }
body > nav figcaption		{ position: absolute; 
				  bottom: 14px; 
				  border: thin solid #fff;
				  overflow: hidden;
				  white-space: nowrap;
				  text-overflow: ellipsis;
				  width: 100%; 
				  text-align: center; 
				  opacity: 0.7;
				  background-color: #fff; }
body > nav figcaption a		{ color: black; }
body > nav li img		{ width: 100%;
				  box-shadow: 0 3px 6px rgba(0,0,0,0.3), inset 0 -3px 3px rgba(0,0,0,0.1);
				  margin: 0;
				  border: solid #ccc 1px;
				  border-radius: 10px; }
.right				{ float: right; }
.noshow				{ display: none; }
body > footer			{ clear: both; 
				  padding-top: 8pt;
				  padding-bottom: 8pt;
				  padding-left: 12.5%;
				  padding-right: 12.5%;
				  text-shadow: 0px 3px 8px #2a2a2a;
				  color: #bbb; }
body > footer div		{ border-left: thin solid silver;
				  display: inline-block;
				  color: #ccc;
				  margin-left: 1ex;
				  padding-left: 1ex; }
body > footer a			{ color: #ddd; 
				  text-decoration: none; }
body > footer a:hover		{ color: #fff; }
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
	body > header 		{ text-align: center; 
				  padding-top: 1ex;
				  padding-left: 0;
		 	 	  padding-right; 0; }
	body > header h2	{ padding-right: 0; }
	body > header img	{ margin-top: 0.5ex; }
	body > header nav	{ display: table; 
				  margin-left: auto;
				  margin-right: auto; }
	body > header nav a	{ display: table-cell; 
				  padding-left: 2ex;
				  padding-right: 2ex;
				  text-align: center; }
	body > article,
	body > nav		{ float: none; 
				  width: 98%; 
				  padding: 0;
				  margin: 0;
				  font-size: inherit;
				  margin-left: auto;
				  margin-right: auto; }
	body > nav figure	{ opacity: 1.0; }
	body > nav ul		{ padding: 0;
				  margin: 0;
				  padding-top: 2%; 
				  text-align: center; }
	body > nav li		{ padding: 0; 
				  margin: 0;
				  width: 32%;
				  display: inline-block; }
	body > nav li:nth-child(n+4)
				{ display: none; }
	body > footer		{ margin: 0;
				  padding: 0;
				  padding-bottom: 1ex;
				  text-align: center;
				  width: 100%;
				  text-align: center; }
	body > footer div	{ border-left: 0;
				  display: block; 
				  margin-left: 0;
				  padding-left: 0; }
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	body > header h1	{ font-size: 24pt; }
	body > header h2	{ font-size: 12pt; }
}
